.wellcome__subtitle {
    padding: 0;
    margin: 10px auto;
    margin-bottom: 0px;
    width: 480px;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    text-align: center;
    line-height: 79px;
  }
  