.projects__title {
    margin: 30px auto;
    margin-bottom: 30px;
    padding: 0;
    max-width: 450px;
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    text-align: center;
    line-height: 79px;
}
@media screen and (max-width: 767px) {
    .projects__title {
    }
  }