.skills__array {
  margin: 0 auto;
  padding: 0;
  max-width: 400px;
  height: 200px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .skills__array {
    height: 260px;
  }
}
