.wellcome__description {
  padding: 0;
  margin: 50px auto;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  width: 600px;
  text-align: center;
  /* line-height: 79px; */
}
