.wellcome__description {
  padding: 0;
  margin: 30px auto;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  max-width: 600px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .wellcome__description {
    margin: 25px 10px;
  }
}
