@font-face {
    font-family: 'Poppins';
    src: url('./Poppins/Poppins-ExtraBold.ttf') format("ttf");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('./Poppins/Poppins-Regular.ttf') format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('./Poppins/Poppins-Medium.ttf') format("ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}