.header__button {
  margin: 0 25px 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.3em;
  border: none;
  text-decoration: none;
}

.header__button:visited {
  color: #444444;
}

@media screen and (max-width: 767px) {
  .header__button {
    margin: 0 10px 0 0;
    text-align: center;
  }
}
