.wellcome__link_github {
    margin: 0 10px 0 0;
    padding: 0;
    width: 30px;
    height: 30px;
    align-self: center;
    background-image: url(../../../../images/github.png);
    background-size: cover;
}