.wellcome__link_linkedin {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    align-self: center;
    background-image: url(../../../../images/linked-in.jpeg);
    background-size: cover;
}