.header__change-theme {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  /* border: none; */
  /* background-size: cover; */
  width: 20px;
  height: 20px;
  /* background-image: url(../../../images/icons8-убывающая-луна-96.png); */
}
