.project {
    margin: 10px 0px;
    padding: 40px;
    width: 250px;
    min-height: 270px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow:
    -20px 20px 0 -17px #fff,
    20px -20px 0 -17px #fff,
    20px 20px 0 -20px #c27153,
    0 0 0 2px #c27153;
    transition: all 0.5s ease;
    /* background-image: url(../../images/Снимок\ экрана\ 2023-09-13\ в\ 00.47.30.png); */
}
.project:hover {
    margin-top:-20px;
    transition: all 0.5s ease;
}