.project {
  margin: 10px 0px;
  padding: 30px;
  padding-bottom: 20px;
  width: 250px;
  border-radius: 10px;
  min-height: 270px;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(12, 161, 109);
  transition: all 0.5s ease;
}
.project:hover {
  margin-top: -20px;
  transition: all 0.5s ease;
}
